<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atckProg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,25}</string>
                <key>spriteSourceSize</key>
                <string>{400,25}</string>
                <key>textureRect</key>
                <string>{{0,614},{400,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atkDamage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atkNick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,25}</string>
                <key>spriteSourceSize</key>
                <string>{400,25}</string>
                <key>textureRect</key>
                <string>{{0,639},{400,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atkPrCr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{0,64},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atkSkilNameSing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attackSkillBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{0,664},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,2}</string>
                <key>spriteSourceSize</key>
                <string>{400,2}</string>
                <key>textureRect</key>
                <string>{{0,889},{400,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blueSkillFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,64},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>blurGolgeSvs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,350}</string>
                <key>spriteSourceSize</key>
                <string>{350,350}</string>
                <key>textureRect</key>
                <string>{{0,264},{350,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bosProg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,25}</string>
                <key>spriteSourceSize</key>
                <string>{400,25}</string>
                <key>textureRect</key>
                <string>{{0,891},{400,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defDamege.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{128,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defNick.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,25}</string>
                <key>spriteSourceSize</key>
                <string>{400,25}</string>
                <key>textureRect</key>
                <string>{{0,916},{400,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defNick1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,25}</string>
                <key>spriteSourceSize</key>
                <string>{400,25}</string>
                <key>textureRect</key>
                <string>{{0,941},{400,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defPrCr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{200,64},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defProg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,25}</string>
                <key>spriteSourceSize</key>
                <string>{400,25}</string>
                <key>textureRect</key>
                <string>{{0,966},{400,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defSkilNameSing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{192,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>defendSkillBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{0,991},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroSingAtk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{256,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>heroSingDef.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{320,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isyapar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{0,1216},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lastAnimBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{0,1441},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>raundUcgen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,71}</string>
                <key>spriteSourceSize</key>
                <string>{142,71}</string>
                <key>textureRect</key>
                <string>{{200,164},{142,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,2}</string>
                <key>spriteSourceSize</key>
                <string>{400,2}</string>
                <key>textureRect</key>
                <string>{{0,1641},{400,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>redSkillFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{300,64},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skullic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{384,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vsVView.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,62}</string>
                <key>spriteSourceSize</key>
                <string>{100,62}</string>
                <key>textureRect</key>
                <string>{{0,164},{100,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winAnim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,255}</string>
                <key>spriteSourceSize</key>
                <string>{496,255}</string>
                <key>textureRect</key>
                <string>{{0,1643},{496,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>winProfView.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{100,164},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rapAnimScene.png</string>
            <key>size</key>
            <string>{496,1898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52263d33e961086db43ed2dedf731b20:45c60a27467a224cce1a2c514bead77f:492e95e5aec1ad8dcfc64e345a8da3aa$</string>
            <key>textureFileName</key>
            <string>rapAnimScene.png</string>
        </dict>
    </dict>
</plist>
