<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,0},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{341,0},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{682,0},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,320},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{341,320},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{682,320},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,640},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{341,640},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{682,640},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,960},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{341,960},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{682,960},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{341,256}</string>
                <key>textureRect</key>
                <string>{{0,1280},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{341,256}</string>
                <key>textureRect</key>
                <string>{{341,1280},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{341,256}</string>
                <key>textureRect</key>
                <string>{{682,1280},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillSword.png</string>
            <key>size</key>
            <string>{1023,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58f373aebb567438f4027cd8145c5c29:b87e25d9a451c33bfbb5b69740be8de5:0f4e18cea12dbd65c71430c6fec34900$</string>
            <key>textureFileName</key>
            <string>skillSword_png.png</string>
        </dict>
    </dict>
</plist>
