<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>isinlanma_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,0},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,320}</string>
                <key>spriteSourceSize</key>
                <string>{342,320}</string>
                <key>textureRect</key>
                <string>{{341,0},{342,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{683,0},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,320},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,320}</string>
                <key>spriteSourceSize</key>
                <string>{342,320}</string>
                <key>textureRect</key>
                <string>{{341,320},{342,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{683,320},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,640},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,320}</string>
                <key>spriteSourceSize</key>
                <string>{342,320}</string>
                <key>textureRect</key>
                <string>{{341,640},{342,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{683,640},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,960},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,320}</string>
                <key>spriteSourceSize</key>
                <string>{342,320}</string>
                <key>textureRect</key>
                <string>{{341,960},{342,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{683,960},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{341,256}</string>
                <key>textureRect</key>
                <string>{{0,1280},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,256}</string>
                <key>spriteSourceSize</key>
                <string>{342,256}</string>
                <key>textureRect</key>
                <string>{{341,1280},{342,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>isinlanma_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{341,256}</string>
                <key>textureRect</key>
                <string>{{683,1280},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillBlueMet.png</string>
            <key>size</key>
            <string>{1024,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c55801a69c604c5fca1fd213f73eaee:fbea28f35fdb280697d15cc6c8a9bc16:ad8364ea427e618e67e404a00b5eb0d3$</string>
            <key>textureFileName</key>
            <string>skillBlueMet_png.png</string>
        </dict>
    </dict>
</plist>
