<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stAtck_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{0,0},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{256,0},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{0,280},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{256,280},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{0,560},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{256,560},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{0,840},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{256,840},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{0,1120},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{256,1120},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{0,1400},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,280}</string>
                <key>spriteSourceSize</key>
                <string>{256,280}</string>
                <key>textureRect</key>
                <string>{{256,1400},{256,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{0,1680},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{256,1680},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{0,1864},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stAtck_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,184}</string>
                <key>spriteSourceSize</key>
                <string>{256,184}</string>
                <key>textureRect</key>
                <string>{{256,1864},{256,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skillDuzAtk.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8a6c87a7b98c3430d19caa7d3b909a6:7e0a8e094f9d31f631cd7f9873fd16b9:02ee6c105d1bbe3e162ceb5a5812d719$</string>
            <key>textureFileName</key>
            <string>skillDuzAtk_png.png</string>
        </dict>
    </dict>
</plist>
