<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meteor_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,307}</string>
                <key>spriteSourceSize</key>
                <string>{341,307}</string>
                <key>textureRect</key>
                <string>{{0,0},{341,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,307}</string>
                <key>spriteSourceSize</key>
                <string>{342,307}</string>
                <key>textureRect</key>
                <string>{{341,0},{342,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,307}</string>
                <key>spriteSourceSize</key>
                <string>{341,307}</string>
                <key>textureRect</key>
                <string>{{683,0},{341,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,307}</string>
                <key>spriteSourceSize</key>
                <string>{341,307}</string>
                <key>textureRect</key>
                <string>{{0,307},{341,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,307}</string>
                <key>spriteSourceSize</key>
                <string>{342,307}</string>
                <key>textureRect</key>
                <string>{{341,307},{342,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,307}</string>
                <key>spriteSourceSize</key>
                <string>{341,307}</string>
                <key>textureRect</key>
                <string>{{683,307},{341,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,308}</string>
                <key>spriteSourceSize</key>
                <string>{341,308}</string>
                <key>textureRect</key>
                <string>{{0,614},{341,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,308}</string>
                <key>spriteSourceSize</key>
                <string>{342,308}</string>
                <key>textureRect</key>
                <string>{{341,614},{342,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,308}</string>
                <key>spriteSourceSize</key>
                <string>{341,308}</string>
                <key>textureRect</key>
                <string>{{683,614},{341,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,307}</string>
                <key>spriteSourceSize</key>
                <string>{341,307}</string>
                <key>textureRect</key>
                <string>{{0,922},{341,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,307}</string>
                <key>spriteSourceSize</key>
                <string>{342,307}</string>
                <key>textureRect</key>
                <string>{{341,922},{342,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,307}</string>
                <key>spriteSourceSize</key>
                <string>{341,307}</string>
                <key>textureRect</key>
                <string>{{683,922},{341,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,307}</string>
                <key>spriteSourceSize</key>
                <string>{341,307}</string>
                <key>textureRect</key>
                <string>{{0,1229},{341,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,307}</string>
                <key>spriteSourceSize</key>
                <string>{342,307}</string>
                <key>textureRect</key>
                <string>{{341,1229},{342,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteor_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,307}</string>
                <key>spriteSourceSize</key>
                <string>{341,307}</string>
                <key>textureRect</key>
                <string>{{683,1229},{341,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skilMeteorO.png</string>
            <key>size</key>
            <string>{1024,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d0e71ec9d924e05079be0c65aaf225:6006d44c7a6aa95773f49507f6b17e5d:98b9927609744abea9f137c2a3ee2ad3$</string>
            <key>textureFileName</key>
            <string>skilMeteorO.png</string>
        </dict>
    </dict>
</plist>
