<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,0},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{341,0},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{682,0},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,320},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{341,320},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{682,320},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,640},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{341,640},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{682,640},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{0,960},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{341,960},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,320}</string>
                <key>spriteSourceSize</key>
                <string>{341,320}</string>
                <key>textureRect</key>
                <string>{{682,960},{341,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{341,256}</string>
                <key>textureRect</key>
                <string>{{0,1280},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{341,256}</string>
                <key>textureRect</key>
                <string>{{341,1280},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>arrow_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,256}</string>
                <key>spriteSourceSize</key>
                <string>{341,256}</string>
                <key>textureRect</key>
                <string>{{682,1280},{341,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skilArrow.png</string>
            <key>size</key>
            <string>{1023,1536}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08826121aea4d48444b4d26706eb0aff:b1744e99c42983df2fa47a19cbd77f59:fa1c4c605ebc518a3f81e02eea345bc5$</string>
            <key>textureFileName</key>
            <string>skilArrow.png</string>
        </dict>
    </dict>
</plist>
