<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>aa1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1712,64},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aa2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1862,64},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aa3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{0,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aa5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{150,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aa6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{300,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anVilk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{772,664},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anvilim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1172,664},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>armorSing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1095,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>armorSingin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1127,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{450,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{600,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{750,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{900,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bb6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1050,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bosProg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,20}</string>
                <key>spriteSourceSize</key>
                <string>{300,20}</string>
                <key>textureRect</key>
                <string>{{95,0},{300,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dembaslikitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,80}</string>
                <key>spriteSourceSize</key>
                <string>{400,80}</string>
                <key>textureRect</key>
                <string>{{402,64},{400,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dkutu_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1200,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dkutu_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1350,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dkutu_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1500,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dkutu_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1650,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dkutu_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1800,214},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dkutu_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{0,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>doluprog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,20}</string>
                <key>spriteSourceSize</key>
                <string>{300,20}</string>
                <key>textureRect</key>
                <string>{{395,0},{300,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frameEx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,180}</string>
                <key>spriteSourceSize</key>
                <string>{162,180}</string>
                <key>textureRect</key>
                <string>{{610,664},{162,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{150,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{300,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{450,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gg5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{600,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gg6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{750,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>infBtnBig.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1607,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>infbtnOnes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1159,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBackBoxDem1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{802,64},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBackBoxDem2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,109}</string>
                <key>spriteSourceSize</key>
                <string>{110,109}</string>
                <key>textureRect</key>
                <string>{{1202,64},{110,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemBox1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{450,664},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemDemBasBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{902,64},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemGolgem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,19}</string>
                <key>spriteSourceSize</key>
                <string>{95,19}</string>
                <key>textureRect</key>
                <string>{{0,0},{95,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemUstBaslik.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,125}</string>
                <key>spriteSourceSize</key>
                <string>{400,125}</string>
                <key>textureRect</key>
                <string>{{1312,64},{400,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_Def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1191,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_Hiz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1223,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_Hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1255,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_Tactic.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1287,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_Yuk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1319,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item_atk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1351,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemdemBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,225}</string>
                <key>spriteSourceSize</key>
                <string>{400,225}</string>
                <key>textureRect</key>
                <string>{{1572,664},{400,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itempopSus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,27}</string>
                <key>spriteSourceSize</key>
                <string>{400,27}</string>
                <key>textureRect</key>
                <string>{{695,0},{400,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kk1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{900,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kk2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1050,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kk3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1200,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kk5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1350,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kk6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1500,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>konumSari.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1383,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1650,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1800,364},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{0,514},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{150,514},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mm6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{300,514},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myitemSing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1415,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>myitemSingin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1447,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>okbir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1671,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>putTas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1002,64},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rr1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{450,514},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rr2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{600,514},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rr3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{750,514},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rr5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{900,514},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rr6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,150}</string>
                <key>spriteSourceSize</key>
                <string>{104,150}</string>
                <key>textureRect</key>
                <string>{{1050,514},{104,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setViewBaslikBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,78}</string>
                <key>spriteSourceSize</key>
                <string>{402,78}</string>
                <key>textureRect</key>
                <string>{{0,64},{402,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setitemArrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1735,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setitemBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1154,514},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setitemarmytype.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1479,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>setıtemBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,150}</string>
                <key>textureRect</key>
                <string>{{1304,514},{400,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>swordkoy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1102,64},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tt1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1704,514},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tt2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1854,514},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tt3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{0,664},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tt5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{150,664},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tt6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{300,664},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgradeSing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1511,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgradeSingin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1543,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>usingitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1575,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>demirciOne.png</string>
            <key>size</key>
            <string>{2012,889}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b54cbb6dea7561b41d16267ce07c89a:166ca842f4d0b8b5d415a1b1380750e8:7d87dd470a21d2a682c01fa804109ec8$</string>
            <key>textureFileName</key>
            <string>demirciOne.png</string>
        </dict>
    </dict>
</plist>
