<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>altBackDemirci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,200}</string>
                <key>spriteSourceSize</key>
                <string>{400,200}</string>
                <key>textureRect</key>
                <string>{{1493,75},{400,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1200,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ayak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1686,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backAlt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,134}</string>
                <key>spriteSourceSize</key>
                <string>{500,134}</string>
                <key>textureRect</key>
                <string>{{833,75},{500,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backNew.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,398}</string>
                <key>spriteSourceSize</key>
                <string>{500,398}</string>
                <key>textureRect</key>
                <string>{{0,637},{500,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>backSusDemirci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,402}</string>
                <key>spriteSourceSize</key>
                <string>{400,402}</string>
                <key>textureRect</key>
                <string>{{500,637},{400,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,362}</string>
                <key>spriteSourceSize</key>
                <string>{350,362}</string>
                <key>textureRect</key>
                <string>{{1272,275},{350,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cizgiDemircinfo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,1}</string>
                <key>spriteSourceSize</key>
                <string>{150,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cizgidemircim.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,3}</string>
                <key>spriteSourceSize</key>
                <string>{400,3}</string>
                <key>textureRect</key>
                <string>{{150,0},{400,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>def.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1252,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>demirciBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,52}</string>
                <key>spriteSourceSize</key>
                <string>{160,52}</string>
                <key>textureRect</key>
                <string>{{1304,0},{160,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>demirciGoPoP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,402}</string>
                <key>spriteSourceSize</key>
                <string>{402,402}</string>
                <key>textureRect</key>
                <string>{{900,637},{402,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>demirciNko.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,83}</string>
                <key>spriteSourceSize</key>
                <string>{400,83}</string>
                <key>textureRect</key>
                <string>{{225,75},{400,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>demirciSauron.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{393,677}</string>
                <key>spriteSourceSize</key>
                <string>{393,677}</string>
                <key>textureRect</key>
                <string>{{1594,637},{393,677}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>demircigoitemsus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,50}</string>
                <key>spriteSourceSize</key>
                <string>{250,50}</string>
                <key>textureRect</key>
                <string>{{950,0},{250,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>demirciinfobtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{1568,0},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>demircitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,42}</string>
                <key>spriteSourceSize</key>
                <string>{400,42}</string>
                <key>textureRect</key>
                <string>{{550,0},{400,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goDemirciCizme.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,213}</string>
                <key>spriteSourceSize</key>
                <string>{212,213}</string>
                <key>textureRect</key>
                <string>{{0,275},{212,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goDemirciKalkan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,213}</string>
                <key>spriteSourceSize</key>
                <string>{212,213}</string>
                <key>textureRect</key>
                <string>{{212,275},{212,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goDemirciKask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,213}</string>
                <key>spriteSourceSize</key>
                <string>{212,213}</string>
                <key>textureRect</key>
                <string>{{424,275},{212,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goDemirciSilah.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,213}</string>
                <key>spriteSourceSize</key>
                <string>{212,213}</string>
                <key>textureRect</key>
                <string>{{636,275},{212,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goDemirciYuzuk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,213}</string>
                <key>spriteSourceSize</key>
                <string>{212,213}</string>
                <key>textureRect</key>
                <string>{{848,275},{212,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goDemirciZirh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,213}</string>
                <key>spriteSourceSize</key>
                <string>{212,213}</string>
                <key>textureRect</key>
                <string>{{1060,275},{212,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1761,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1464,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemDemirciLitKare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1836,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>itemKutu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1333,75},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kalkan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{1911,0},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kampNameDemirci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,116}</string>
                <key>spriteSourceSize</key>
                <string>{208,116}</string>
                <key>textureRect</key>
                <string>{{625,75},{208,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plusitem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1622,0},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{0,75},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silah.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{75,75},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>susDemirci.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,439}</string>
                <key>spriteSourceSize</key>
                <string>{292,439}</string>
                <key>textureRect</key>
                <string>{{1302,637},{292,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yetenek.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1516,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zirh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{150,75},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>kampdemirci.png</string>
            <key>size</key>
            <string>{1987,1314}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a370dabe2d05f24746d6b0c106b0a5fd:50c6801982322442c7d805701ad9ee9e:4cf897a548d68f4662d75c7967fff95b$</string>
            <key>textureFileName</key>
            <string>kampdemirci.png</string>
        </dict>
    </dict>
</plist>
