<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>okcu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{0,0},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>okcu10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{448,1114},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>okcu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{448,0},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>okcu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{896,0},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>okcu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{1344,0},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>okcu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{0,557},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>okcu6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{448,557},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>okcu7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{896,557},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>okcu8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{1344,557},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>okcu9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{0,1114},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>okcu.png</string>
            <key>size</key>
            <string>{1792,1671}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb7720b2771c89e6afc5830969e19bf0:fa3cc4b92faf133bcfe3f3135f0132df:b4d24506700d985b795692a775dcb7dd$</string>
            <key>textureFileName</key>
            <string>okcu.png</string>
        </dict>
    </dict>
</plist>
