<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>piyade1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{0,0},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piyade10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{447,1118},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piyade2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{447,0},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piyade3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{894,0},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piyade4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{1341,0},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piyade5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{0,559},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piyade6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{447,559},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piyade7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{894,559},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piyade8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{1341,559},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>piyade9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{0,1118},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>piyade.png</string>
            <key>size</key>
            <string>{1788,1677}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14e14100ee576a72e1ebe32055dab389:c8a9e90b78b2c1dd760f44f64070848a:0d869a3c0450040d08e1b2a990e4dfff$</string>
            <key>textureFileName</key>
            <string>piyade.png</string>
        </dict>
    </dict>
</plist>
