<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>suvari1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{0,0},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suvari10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{1341,1114},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suvari2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{448,0},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suvari3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{896,0},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suvari4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{0,557},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suvari5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{448,557},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suvari6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,557}</string>
                <key>spriteSourceSize</key>
                <string>{448,557}</string>
                <key>textureRect</key>
                <string>{{896,557},{448,557}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suvari7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{0,1114},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suvari8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{447,1114},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>suvari9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,559}</string>
                <key>spriteSourceSize</key>
                <string>{447,559}</string>
                <key>textureRect</key>
                <string>{{894,1114},{447,559}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>suvari.png</string>
            <key>size</key>
            <string>{1789,1673}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04ed349f4061b347101a8f9f606e697c:e1e60b52bdef5406a13d748fb1feaeca:2ded81a66c34f41f6a7c6e957615c8ab$</string>
            <key>textureFileName</key>
            <string>suvari.png</string>
        </dict>
    </dict>
</plist>
