<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backLabel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,227}</string>
                <key>spriteSourceSize</key>
                <string>{192,227}</string>
                <key>textureRect</key>
                <string>{{0,100},{192,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bosprog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,26}</string>
                <key>spriteSourceSize</key>
                <string>{174,26}</string>
                <key>textureRect</key>
                <string>{{0,0},{174,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuceA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,314}</string>
                <key>spriteSourceSize</key>
                <string>{253,314}</string>
                <key>textureRect</key>
                <string>{{430,100},{253,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuceP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,289}</string>
                <key>spriteSourceSize</key>
                <string>{238,289}</string>
                <key>textureRect</key>
                <string>{{192,100},{238,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuceSec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,628}</string>
                <key>spriteSourceSize</key>
                <string>{350,628}</string>
                <key>textureRect</key>
                <string>{{0,438},{350,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuceSing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{696,0},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuceSing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{742,0},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elfA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,338}</string>
                <key>spriteSourceSize</key>
                <string>{227,338}</string>
                <key>textureRect</key>
                <string>{{1313,100},{227,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elfP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,329}</string>
                <key>spriteSourceSize</key>
                <string>{244,329}</string>
                <key>textureRect</key>
                <string>{{1069,100},{244,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elfSec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,628}</string>
                <key>spriteSourceSize</key>
                <string>{350,628}</string>
                <key>textureRect</key>
                <string>{{350,438},{350,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elfSing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{788,0},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elfSing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{834,0},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insSing1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{880,0},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insSing2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,45}</string>
                <key>spriteSourceSize</key>
                <string>{46,45}</string>
                <key>textureRect</key>
                <string>{{926,0},{46,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insanA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,323}</string>
                <key>spriteSourceSize</key>
                <string>{193,323}</string>
                <key>textureRect</key>
                <string>{{683,100},{193,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insanP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,323}</string>
                <key>spriteSourceSize</key>
                <string>{193,323}</string>
                <key>textureRect</key>
                <string>{{876,100},{193,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>insanSec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,628}</string>
                <key>spriteSourceSize</key>
                <string>{350,628}</string>
                <key>textureRect</key>
                <string>{{700,438},{350,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,100}</string>
                <key>spriteSourceSize</key>
                <string>{306,100}</string>
                <key>textureRect</key>
                <string>{{1307,0},{306,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>noSec.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,628}</string>
                <key>spriteSourceSize</key>
                <string>{350,628}</string>
                <key>textureRect</key>
                <string>{{1050,438},{350,628}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prog1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,26}</string>
                <key>spriteSourceSize</key>
                <string>{174,26}</string>
                <key>textureRect</key>
                <string>{{174,0},{174,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prog2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,26}</string>
                <key>spriteSourceSize</key>
                <string>{174,26}</string>
                <key>textureRect</key>
                <string>{{348,0},{174,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>prog3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,26}</string>
                <key>spriteSourceSize</key>
                <string>{174,26}</string>
                <key>textureRect</key>
                <string>{{522,0},{174,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>secBtn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,91}</string>
                <key>spriteSourceSize</key>
                <string>{335,91}</string>
                <key>textureRect</key>
                <string>{{972,0},{335,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>statuView.png</string>
            <key>size</key>
            <string>{1613,1066}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:993e7cfae46e6fd8bd4612d39af9674a:c9dfdf36d0dd227e94f7832f7c010e8f:fe02c49ea6fdce086965f3fc3aeca92c$</string>
            <key>textureFileName</key>
            <string>statuView.png</string>
        </dict>
    </dict>
</plist>
